<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola </title>
</head>  
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
       
    </div>
    <script>
        const vm = Vue.createApp({
            data(){
                return {
                    counter: 0,
                    img: "https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg",
                    text: "Accede a tu cuenta",
                    firstName: "Shirley",
                    lastName: "García",
                    now: new Date(), 
                    isOpen: false,
                    styles: {
                        backgroundColor: "#eca1a6"
                    },
                    username: ""
                }
            },
            methods: {
                increment(e){
                    // e.preventDefault()
                    this.counter++;                
                }, 
                decrement(){
                    this.counter--
                },
                input(e){
                    this.text = e.target.value
                }
            },
            computed: {
                fullName(){
                    return this.firstName + " " +  this.lastName
                },
                today(){
                    return this.now.toLocaleDateString()
                },
                label(){
                    // $("#app .container").removeClass("closed");
                    return this.isOpen ? "Salir" : "Ingresar"
                }
            },
            watch: {
                isOpen(current){
                    // this.text = current? "La puerta está abierta" : "La puerta está cerrada"
                    if (current) {
                        this.text= "Salir de tu cuenta "
                        // this.styles.backgroundColor= "#b5e7a0"
                    } else {
                        this.text= "Accede a tu cuenta"
                        // this.styles.backgroundColor= ""
                    }
                    console.log('watched' + current);
                }
            },
                //  v-on:submit.prevent="increment"
            template: `<img v-bind:src="img" v-bind:alt="img" height=150px>
                        <form>
                            <button v-on:click.prevent="increment" >+</button>
                            <p>{{counter}}</p>
                            <button v-on:click.prevent="decrement">-</button>
                        </form>
                        
                       
                         <input type="text" 
                            @input="input"
                            :value="text" >
                          <div>
                            <p>{{fullName}}</p>
                            <p> {{today}}</p>
                          </div>
                           <div class="container" :class="{'open': isOpen, 'closed': !isOpen}"> 
                            <h2>{{text}}</h2>
                            <button @click="isOpen =!isOpen">{{label}}</button>
                        </div>
                           <div class="container" :class="{'open': isOpen, 'closed': !isOpen}"> 
                            <h2>{{text}}</h2>
                            <span v-if="isOpen"> Hola, {{username}} </span>
                            <div v-if="isOpen">
                                 <label for=""></label>
                                 <input type="text">
                            </div>
                            <button @click="isOpen =!isOpen">
                                <span v-if="!isOpen"> Ingresar</span>
                                <span v-else> Cerrar</span>
                            </button>
                        </div>
                        `
        }).mount("#app")
        console.log(vm);
        // <div class="container" :style="styles"> 
    </script>
   <style>
    html, body {
        /* height: 100vh; */
        /* margin: 0; */
        font-family: Arial, Helvetica, sans-serif;
    }
    #app .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        margin: 10px;
        /* width: 100%;
        height: 100%; */
    }
    .container button {
        margin-top: 24px;
        border: none;
        background-color: white;
        padding: 8px 24px;
        border-radius: 12px;
        cursor: pointer;
    }
    .closed {
        background-color: #eca1a6;
    }
    .open {
        background-color: #b5e7a0;
    }
</style>
</body>
</html>
<!-- Directiva v-on, se puede resumir con "@"
Directiva v-bind, se puede resumir con ":" -->
<!-- Atributos -> :
Eventos -> @ -->
<!-- v.model:  -->