@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?p0mr1j');
  src:  url('fonts/icomoon.eot?p0mr1j#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?p0mr1j') format('truetype'),
    url('fonts/icomoon.woff?p0mr1j') format('woff'),
    url('fonts/icomoon.svg?p0mr1j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vimeo:before {
  content: "\e900";
}
.icon-vine:before {
  content: "\e901";
}
.icon-vine-circle:before {
  content: "\e902";
}
.icon-vine-square:before {
  content: "\e903";
}
.icon-voicemail:before {
  content: "\e904";
}
.icon-volume:before {
  content: "\e905";
}
.icon-volume-circle:before {
  content: "\e906";
}
.icon-volume-circle-f:before {
  content: "\e907";
}
.icon-volume-down:before {
  content: "\e908";
}
.icon-volume-down-circle:before {
  content: "\e909";
}
.icon-volume-down-circle-f:before {
  content: "\e90a";
}
.icon-volume-down-square:before {
  content: "\e90b";
}
.icon-volume-down-square-f:before {
  content: "\e90c";
}
.icon-volume-mute:before {
  content: "\e90d";
}
.icon-volume-mute-circle:before {
  content: "\e90e";
}
.icon-volume-mute-circle-f:before {
  content: "\e90f";
}
.icon-volume-mute-square:before {
  content: "\e910";
}
.icon-volume-mute-square-f:before {
  content: "\e911";
}
.icon-volume-square:before {
  content: "\e912";
}
.icon-volume-square-f:before {
  content: "\e913";
}
.icon-volume-up:before {
  content: "\e914";
}
.icon-volume-up-circle:before {
  content: "\e915";
}
.icon-volume-up-circle-f:before {
  content: "\e916";
}
.icon-volume-up-square:before {
  content: "\e917";
}
.icon-volume-up-square-f:before {
  content: "\e918";
}
.icon-watch:before {
  content: "\e919";
}
.icon-watch-f:before {
  content: "\e91a";
}
.icon-water-drop:before {
  content: "\e91b";
}
.icon-water-drop-f:before {
  content: "\e91c";
}
.icon-whatsapp:before {
  content: "\e91d";
}
.icon-wifi:before {
  content: "\e91e";
}
.icon-wikipedia:before {
  content: "\e91f";
}
.icon-wordpress:before {
  content: "\e920";
}
.icon-world:before {
  content: "\e921";
}
.icon-wrench:before {
  content: "\e922";
}
.icon-wrench-f:before {
  content: "\e923";
}
.icon-write:before {
  content: "\e924";
}
.icon-write-f:before {
  content: "\e925";
}
.icon-yahoo:before {
  content: "\e926";
}
.icon-yahoo-circle:before {
  content: "\e927";
}
.icon-yahoo-square:before {
  content: "\e928";
}
.icon-yelp:before {
  content: "\e929";
}
.icon-yelp-circle:before {
  content: "\e92a";
}
.icon-yelp-square:before {
  content: "\e92b";
}
.icon-youtube:before {
  content: "\e92c";
}
.icon-youtube-circle:before {
  content: "\e92d";
}
.icon-youtube-square:before {
  content: "\e92e";
}
.icon-train:before {
  content: "\e92f";
}
.icon-transgender:before {
  content: "\e930";
}
.icon-trash:before {
  content: "\e931";
}
.icon-trash-alt:before {
  content: "\e932";
}
.icon-trash-alt-f:before {
  content: "\e933";
}
.icon-trash-f:before {
  content: "\e934";
}
.icon-tree:before {
  content: "\e935";
}
.icon-tree-alt:before {
  content: "\e936";
}
.icon-tree-alt-f:before {
  content: "\e937";
}
.icon-tree-f:before {
  content: "\e938";
}
.icon-trello:before {
  content: "\e939";
}
.icon-triangle:before {
  content: "\e93a";
}
.icon-triangle-danger:before {
  content: "\e93b";
}
.icon-triangle-danger-f:before {
  content: "\e93c";
}
.icon-triangle-f:before {
  content: "\e93d";
}
.icon-trophy:before {
  content: "\e93e";
}
.icon-trophy-f:before {
  content: "\e93f";
}
.icon-tube:before {
  content: "\e940";
}
.icon-tumblr:before {
  content: "\e941";
}
.icon-tumblr-circle:before {
  content: "\e942";
}
.icon-tumblr-square:before {
  content: "\e943";
}
.icon-twitch:before {
  content: "\e944";
}
.icon-twitter:before {
  content: "\e945";
}
.icon-twitter-circle:before {
  content: "\e946";
}
.icon-twitter-square:before {
  content: "\e947";
}
.icon-umbrella:before {
  content: "\e948";
}
.icon-umbrella-closed:before {
  content: "\e949";
}
.icon-umbrella-closed-f:before {
  content: "\e94a";
}
.icon-umbrella-f:before {
  content: "\e94b";
}
.icon-underline:before {
  content: "\e94c";
}
.icon-undo:before {
  content: "\e94d";
}
.icon-unindent:before {
  content: "\e94e";
}
.icon-union:before {
  content: "\e94f";
}
.icon-universe:before {
  content: "\e950";
}
.icon-unlink:before {
  content: "\e951";
}
.icon-unordered-list:before {
  content: "\e952";
}
.icon-unsplash:before {
  content: "\e953";
}
.icon-unsplash-circle:before {
  content: "\e954";
}
.icon-unsplash-square:before {
  content: "\e955";
}
.icon-upload:before {
  content: "\e956";
}
.icon-user:before {
  content: "\e957";
}
.icon-user-circle:before {
  content: "\e958";
}
.icon-user-minus:before {
  content: "\e959";
}
.icon-user-plus:before {
  content: "\e95a";
}
.icon-user-remove:before {
  content: "\e95b";
}
.icon-users:before {
  content: "\e95c";
}
.icon-user-square:before {
  content: "\e95d";
}
.icon-viadeo:before {
  content: "\e95e";
}
.icon-viber:before {
  content: "\e95f";
}
.icon-viber-circle:before {
  content: "\e960";
}
.icon-viber-square:before {
  content: "\e961";
}
.icon-video-camera:before {
  content: "\e962";
}
.icon-video-camera-f:before {
  content: "\e963";
}
.icon-video-camera-vintage:before {
  content: "\e964";
}
.icon-video-camera-vintage-f:before {
  content: "\e965";
}
.icon-vimeo-circle:before {
  content: "\e966";
}
.icon-vimeo-square:before {
  content: "\e967";
}
.icon-stop:before {
  content: "\e968";
}
.icon-store:before {
  content: "\e969";
}
.icon-strikethrough:before {
  content: "\e96a";
}
.icon-stumbleupon:before {
  content: "\e96b";
}
.icon-stumbleupon-circle:before {
  content: "\e96c";
}
.icon-stumbleupon-square:before {
  content: "\e96d";
}
.icon-subscript:before {
  content: "\e96e";
}
.icon-subtraction:before {
  content: "\e96f";
}
.icon-sun:before {
  content: "\e970";
}
.icon-sun-f:before {
  content: "\e971";
}
.icon-superscript:before {
  content: "\e972";
}
.icon-switch-left:before {
  content: "\e973";
}
.icon-switch-left-f:before {
  content: "\e974";
}
.icon-switch-right:before {
  content: "\e975";
}
.icon-switch-right-f:before {
  content: "\e976";
}
.icon-sword:before {
  content: "\e977";
}
.icon-sword-f:before {
  content: "\e978";
}
.icon-tab:before {
  content: "\e979";
}
.icon-table:before {
  content: "\e97a";
}
.icon-table-cell:before {
  content: "\e97b";
}
.icon-table-cell-merge:before {
  content: "\e97c";
}
.icon-table-col-after:before {
  content: "\e97d";
}
.icon-table-col-before:before {
  content: "\e97e";
}
.icon-table-delete:before {
  content: "\e97f";
}
.icon-table-left-header:before {
  content: "\e980";
}
.icon-table-right-header:before {
  content: "\e981";
}
.icon-table-row-above:before {
  content: "\e982";
}
.icon-table-row-after:before {
  content: "\e983";
}
.icon-tablet:before {
  content: "\e984";
}
.icon-tablet-f:before {
  content: "\e985";
}
.icon-table-top-header:before {
  content: "\e986";
}
.icon-tag:before {
  content: "\e987";
}
.icon-tag-f:before {
  content: "\e988";
}
.icon-tags:before {
  content: "\e989";
}
.icon-tags-f:before {
  content: "\e98a";
}
.icon-target:before {
  content: "\e98b";
}
.icon-task-list:before {
  content: "\e98c";
}
.icon-task-list-f:before {
  content: "\e98d";
}
.icon-telegram:before {
  content: "\e98e";
}
.icon-temperature:before {
  content: "\e98f";
}
.icon-template:before {
  content: "\e990";
}
.icon-terminal:before {
  content: "\e991";
}
.icon-text:before {
  content: "\e992";
}
.icon-thunder:before {
  content: "\e993";
}
.icon-thunder-f:before {
  content: "\e994";
}
.icon-ticket:before {
  content: "\e995";
}
.icon-ticket-f:before {
  content: "\e996";
}
.icon-tools:before {
  content: "\e997";
}
.icon-tools-f:before {
  content: "\e998";
}
.icon-torch:before {
  content: "\e999";
}
.icon-torch-f:before {
  content: "\e99a";
}
.icon-totem:before {
  content: "\e99b";
}
.icon-train-f:before {
  content: "\e99c";
}
.icon-shield:before {
  content: "\e99d";
}
.icon-shield-plus:before {
  content: "\e99e";
}
.icon-shopify:before {
  content: "\e99f";
}
.icon-shopify-circle:before {
  content: "\e9a0";
}
.icon-shopify-square:before {
  content: "\e9a1";
}
.icon-shopping-bag:before {
  content: "\e9a2";
}
.icon-shopping-bag-alt:before {
  content: "\e9a3";
}
.icon-shopping-bag-alt-f:before {
  content: "\e9a4";
}
.icon-shopping-bag-f:before {
  content: "\e9a5";
}
.icon-shopping-cart:before {
  content: "\e9a6";
}
.icon-shuffle:before {
  content: "\e9a7";
}
.icon-signal:before {
  content: "\e9a8";
}
.icon-sitemap:before {
  content: "\e9a9";
}
.icon-sitemap-f:before {
  content: "\e9aa";
}
.icon-skull:before {
  content: "\e9ab";
}
.icon-skull-f:before {
  content: "\e9ac";
}
.icon-skype:before {
  content: "\e9ad";
}
.icon-skype-circle:before {
  content: "\e9ae";
}
.icon-skype-square:before {
  content: "\e9af";
}
.icon-slack:before {
  content: "\e9b0";
}
.icon-slack-circle:before {
  content: "\e9b1";
}
.icon-slack-square:before {
  content: "\e9b2";
}
.icon-smiley:before {
  content: "\e9b3";
}
.icon-smiley-f:before {
  content: "\e9b4";
}
.icon-snapchat:before {
  content: "\e9b5";
}
.icon-snapchat-circle:before {
  content: "\e9b6";
}
.icon-snapchat-square:before {
  content: "\e9b7";
}
.icon-snowboard:before {
  content: "\e9b8";
}
.icon-snowboard-f:before {
  content: "\e9b9";
}
.icon-snowflake:before {
  content: "\e9ba";
}
.icon-soundcloud:before {
  content: "\e9bb";
}
.icon-speaker:before {
  content: "\e9bc";
}
.icon-speaker-f:before {
  content: "\e9bd";
}
.icon-spell-check:before {
  content: "\e9be";
}
.icon-spotify:before {
  content: "\e9bf";
}
.icon-square:before {
  content: "\e9c0";
}
.icon-square-f:before {
  content: "\e9c1";
}
.icon-squarespace:before {
  content: "\e9c2";
}
.icon-squarespace-circle:before {
  content: "\e9c3";
}
.icon-squarespace-square:before {
  content: "\e9c4";
}
.icon-stackoverflow:before {
  content: "\e9c5";
}
.icon-stackoverflow-circle:before {
  content: "\e9c6";
}
.icon-stackoverflow-square:before {
  content: "\e9c7";
}
.icon-stamp:before {
  content: "\e9c8";
}
.icon-stamp-f:before {
  content: "\e9c9";
}
.icon-star:before {
  content: "\e9ca";
}
.icon-star-f:before {
  content: "\e9cb";
}
.icon-star-full:before {
  content: "\e9cc";
}
.icon-star-half:before {
  content: "\e9cd";
}
.icon-star-half-f:before {
  content: "\e9ce";
}
.icon-station:before {
  content: "\e9cf";
}
.icon-stop-sign:before {
  content: "\e9d0";
}
.icon-rectangle:before {
  content: "\e9d1";
}
.icon-rectangle-f:before {
  content: "\e9d2";
}
.icon-reddit:before {
  content: "\e9d3";
}
.icon-redo:before {
  content: "\e9d4";
}
.icon-refresh:before {
  content: "\e9d5";
}
.icon-refresh-reverse:before {
  content: "\e9d6";
}
.icon-repeat:before {
  content: "\e9d7";
}
.icon-rocket:before {
  content: "\e9d8";
}
.icon-rocket-f:before {
  content: "\e9d9";
}
.icon-rss-feed:before {
  content: "\e9da";
}
.icon-rtl:before {
  content: "\e9db";
}
.icon-rubber:before {
  content: "\e9dc";
}
.icon-ruler:before {
  content: "\e9dd";
}
.icon-ruler-f:before {
  content: "\e9de";
}
.icon-save:before {
  content: "\e9df";
}
.icon-save-f:before {
  content: "\e9e0";
}
.icon-scissors:before {
  content: "\e9e1";
}
.icon-screen:before {
  content: "\e9e2";
}
.icon-screen-f:before {
  content: "\e9e3";
}
.icon-screwdriver:before {
  content: "\e9e4";
}
.icon-screwdriver-f:before {
  content: "\e9e5";
}
.icon-search:before {
  content: "\e9e6";
}
.icon-search-folder:before {
  content: "\e9e7";
}
.icon-search-minus:before {
  content: "\e9e8";
}
.icon-search-plus:before {
  content: "\e9e9";
}
.icon-select-all:before {
  content: "\e9ea";
}
.icon-set-backward:before {
  content: "\e9eb";
}
.icon-set-backward-circle:before {
  content: "\e9ec";
}
.icon-set-backward-circle-f:before {
  content: "\e9ed";
}
.icon-set-backward-square:before {
  content: "\e9ee";
}
.icon-set-backward-square-f:before {
  content: "\e9ef";
}
.icon-set-forward:before {
  content: "\e9f0";
}
.icon-set-forward-circle:before {
  content: "\e9f1";
}
.icon-set-forward-circle-f:before {
  content: "\e9f2";
}
.icon-set-forward-square:before {
  content: "\e9f3";
}
.icon-set-forward-square-f:before {
  content: "\e9f4";
}
.icon-set-square:before {
  content: "\e9f5";
}
.icon-set-square-f:before {
  content: "\e9f6";
}
.icon-settings-alt:before {
  content: "\e9f7";
}
.icon-share:before {
  content: "\e9f8";
}
.icon-share-alt:before {
  content: "\e9f9";
}
.icon-share-alt-f:before {
  content: "\e9fa";
}
.icon-shield-check:before {
  content: "\e9fb";
}
.icon-shield-check-f:before {
  content: "\e9fc";
}
.icon-shield-close:before {
  content: "\e9fd";
}
.icon-shield-close-f:before {
  content: "\e9fe";
}
.icon-shield-f:before {
  content: "\e9ff";
}
.icon-shield-half:before {
  content: "\ea00";
}
.icon-shield-minus:before {
  content: "\ea01";
}
.icon-shield-minus-f:before {
  content: "\ea02";
}
.icon-shield-plus-f:before {
  content: "\ea03";
}
.icon-phone:before {
  content: "\ea04";
}
.icon-picture:before {
  content: "\ea05";
}
.icon-picture-edit:before {
  content: "\ea06";
}
.icon-picture-f:before {
  content: "\ea07";
}
.icon-pictures:before {
  content: "\ea08";
}
.icon-pictures-f:before {
  content: "\ea09";
}
.icon-pie-chart:before {
  content: "\ea0a";
}
.icon-pie-chart-alt:before {
  content: "\ea0b";
}
.icon-pie-chart-f:before {
  content: "\ea0c";
}
.icon-pin:before {
  content: "\ea0d";
}
.icon-pin-alt:before {
  content: "\ea0e";
}
.icon-pin-alt-f:before {
  content: "\ea0f";
}
.icon-pin-f:before {
  content: "\ea10";
}
.icon-pinterest:before {
  content: "\ea11";
}
.icon-pinterest-circle:before {
  content: "\ea12";
}
.icon-pinterest-square:before {
  content: "\ea13";
}
.icon-pizza-slice:before {
  content: "\ea14";
}
.icon-plane:before {
  content: "\ea15";
}
.icon-plane-f:before {
  content: "\ea16";
}
.icon-play:before {
  content: "\ea17";
}
.icon-play-circle:before {
  content: "\ea18";
}
.icon-play-circle-f:before {
  content: "\ea19";
}
.icon-play-square:before {
  content: "\ea1a";
}
.icon-play-square-f:before {
  content: "\ea1b";
}
.icon-plug:before {
  content: "\ea1c";
}
.icon-plug-f:before {
  content: "\ea1d";
}
.icon-plus:before {
  content: "\ea1e";
}
.icon-plus-circle:before {
  content: "\ea1f";
}
.icon-plus-circle-f:before {
  content: "\ea20";
}
.icon-plus-rectangle:before {
  content: "\ea21";
}
.icon-plus-rectangle-f:before {
  content: "\ea22";
}
.icon-pocket-watch:before {
  content: "\ea23";
}
.icon-pocket-watch-f:before {
  content: "\ea24";
}
.icon-podcast:before {
  content: "\ea25";
}
.icon-power:before {
  content: "\ea26";
}
.icon-printer:before {
  content: "\ea27";
}
.icon-printer-f:before {
  content: "\ea28";
}
.icon-qr-code:before {
  content: "\ea29";
}
.icon-quora:before {
  content: "\ea2a";
}
.icon-quora-circle:before {
  content: "\ea2b";
}
.icon-quora-square:before {
  content: "\ea2c";
}
.icon-quote:before {
  content: "\ea2d";
}
.icon-rainbow:before {
  content: "\ea2e";
}
.icon-rec:before {
  content: "\ea2f";
}
.icon-newspaper:before {
  content: "\ea30";
}
.icon-npm:before {
  content: "\ea31";
}
.icon-odnoklassniki:before {
  content: "\ea32";
}
.icon-odnoklassniki-circle:before {
  content: "\ea33";
}
.icon-odnoklassniki-square:before {
  content: "\ea34";
}
.icon-opera:before {
  content: "\ea35";
}
.icon-opera-circle:before {
  content: "\ea36";
}
.icon-opera-square:before {
  content: "\ea37";
}
.icon-ordered-list:before {
  content: "\ea38";
}
.icon-orientaton:before {
  content: "\ea39";
}
.icon-padlock:before {
  content: "\ea3a";
}
.icon-padlock-alt:before {
  content: "\ea3b";
}
.icon-padlock-alt-f:before {
  content: "\ea3c";
}
.icon-padlock-alt-open:before {
  content: "\ea3d";
}
.icon-padlock-alt-open-f:before {
  content: "\ea3e";
}
.icon-padlock-f:before {
  content: "\ea3f";
}
.icon-padlock-open:before {
  content: "\ea40";
}
.icon-padlock-open-f:before {
  content: "\ea41";
}
.icon-page-break:before {
  content: "\ea42";
}
.icon-paper-plane:before {
  content: "\ea43";
}
.icon-paper-plane-f:before {
  content: "\ea44";
}
.icon-paragraph:before {
  content: "\ea45";
}
.icon-patreon:before {
  content: "\ea46";
}
.icon-patreon-circle:before {
  content: "\ea47";
}
.icon-patreon-square:before {
  content: "\ea48";
}
.icon-pause:before {
  content: "\ea49";
}
.icon-paypal:before {
  content: "\ea4a";
}
.icon-paypal-circle:before {
  content: "\ea4b";
}
.icon-paypal-square:before {
  content: "\ea4c";
}
.icon-pen:before {
  content: "\ea4d";
}
.icon-pencil:before {
  content: "\ea4e";
}
.icon-pencil-f:before {
  content: "\ea4f";
}
.icon-pen-f:before {
  content: "\ea50";
}
.icon-periscope:before {
  content: "\ea51";
}
.icon-periscope-circle:before {
  content: "\ea52";
}
.icon-periscope-square:before {
  content: "\ea53";
}
.icon-phone-f:before {
  content: "\ea54";
}
.icon-moon:before {
  content: "\ea55";
}
.icon-more-horizontal:before {
  content: "\ea56";
}
.icon-more-horizontal-f:before {
  content: "\ea57";
}
.icon-more-vertical:before {
  content: "\ea58";
}
.icon-more-vertical-f:before {
  content: "\ea59";
}
.icon-mountain:before {
  content: "\ea5a";
}
.icon-mountain-f:before {
  content: "\ea5b";
}
.icon-move:before {
  content: "\ea5c";
}
.icon-move-alt:before {
  content: "\ea5d";
}
.icon-movie:before {
  content: "\ea5e";
}
.icon-mug:before {
  content: "\ea5f";
}
.icon-mug-f:before {
  content: "\ea60";
}
.icon-music:before {
  content: "\ea61";
}
.icon-music-f:before {
  content: "\ea62";
}
.icon-myspace:before {
  content: "\ea63";
}
.icon-myspace-circle:before {
  content: "\ea64";
}
.icon-myspace-square:before {
  content: "\ea65";
}
.icon-napster:before {
  content: "\ea66";
}
.icon-napster-circle:before {
  content: "\ea67";
}
.icon-napster-square:before {
  content: "\ea68";
}
.icon-newsletter:before {
  content: "\ea69";
}
.icon-newsletter-f:before {
  content: "\ea6a";
}
.icon-newspaper-f:before {
  content: "\ea6b";
}
.icon-message:before {
  content: "\ea6c";
}
.icon-message-alt:before {
  content: "\ea6d";
}
.icon-message-f:before {
  content: "\ea6e";
}
.icon-messages:before {
  content: "\ea6f";
}
.icon-messages-alt:before {
  content: "\ea70";
}
.icon-messages-alt-f:before {
  content: "\ea71";
}
.icon-messages-f:before {
  content: "\ea72";
}
.icon-message-writing:before {
  content: "\ea73";
}
.icon-message-writing-f:before {
  content: "\ea74";
}
.icon-messenger:before {
  content: "\ea75";
}
.icon-mic:before {
  content: "\ea76";
}
.icon-mic-alt:before {
  content: "\ea77";
}
.icon-mic-circle:before {
  content: "\ea78";
}
.icon-mic-circle-f:before {
  content: "\ea79";
}
.icon-mic-f:before {
  content: "\ea7a";
}
.icon-microchip:before {
  content: "\ea7b";
}
.icon-microchip-f:before {
  content: "\ea7c";
}
.icon-mic-square:before {
  content: "\ea7d";
}
.icon-mic-square-f:before {
  content: "\ea7e";
}
.icon-minus:before {
  content: "\ea7f";
}
.icon-minus-circle:before {
  content: "\ea80";
}
.icon-minus-circle-f:before {
  content: "\ea81";
}
.icon-minus-rectangle:before {
  content: "\ea82";
}
.icon-minus-rectangle-f:before {
  content: "\ea83";
}
.icon-moon-f:before {
  content: "\ea84";
}
.icon-luggage:before {
  content: "\ea85";
}
.icon-luggage-f:before {
  content: "\ea86";
}
.icon-magic:before {
  content: "\ea87";
}
.icon-magic-f:before {
  content: "\ea88";
}
.icon-magnet:before {
  content: "\ea89";
}
.icon-magnet-f:before {
  content: "\ea8a";
}
.icon-male:before {
  content: "\ea8b";
}
.icon-map:before {
  content: "\ea8c";
}
.icon-map-f:before {
  content: "\ea8d";
}
.icon-map-marker:before {
  content: "\ea8e";
}
.icon-map-marker-f:before {
  content: "\ea8f";
}
.icon-mask:before {
  content: "\ea90";
}
.icon-mask-f:before {
  content: "\ea91";
}
.icon-medal:before {
  content: "\ea92";
}
.icon-medal-f:before {
  content: "\ea93";
}
.icon-medical:before {
  content: "\ea94";
}
.icon-medium:before {
  content: "\ea95";
}
.icon-medium-circle:before {
  content: "\ea96";
}
.icon-medium-square:before {
  content: "\ea97";
}
.icon-menu:before {
  content: "\ea98";
}
.icon-merge:before {
  content: "\ea99";
}
.icon-merge-f:before {
  content: "\ea9a";
}
.icon-message-alt-f:before {
  content: "\ea9b";
}
.icon-message-alt-writing:before {
  content: "\ea9c";
}
.icon-message-alt-writing-f:before {
  content: "\ea9d";
}
.icon-joystick:before {
  content: "\ea9e";
}
.icon-joystick-f:before {
  content: "\ea9f";
}
.icon-key:before {
  content: "\eaa0";
}
.icon-keyboard:before {
  content: "\eaa1";
}
.icon-keyboard-f:before {
  content: "\eaa2";
}
.icon-key-f:before {
  content: "\eaa3";
}
.icon-language:before {
  content: "\eaa4";
}
.icon-layers:before {
  content: "\eaa5";
}
.icon-layers-f:before {
  content: "\eaa6";
}
.icon-layout:before {
  content: "\eaa7";
}
.icon-layout-f:before {
  content: "\eaa8";
}
.icon-leaf:before {
  content: "\eaa9";
}
.icon-leaf-f:before {
  content: "\eaaa";
}
.icon-lifebuoy:before {
  content: "\eaab";
}
.icon-lifebuoy-f:before {
  content: "\eaac";
}
.icon-lightbulb:before {
  content: "\eaad";
}
.icon-lightbulb-f:before {
  content: "\eaae";
}
.icon-line:before {
  content: "\eaaf";
}
.icon-link:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eab1";
}
.icon-linkedin-circle:before {
  content: "\eab2";
}
.icon-linkedin-square:before {
  content: "\eab3";
}
.icon-log-in:before {
  content: "\eab4";
}
.icon-log-out:before {
  content: "\eab5";
}
.icon-ltr:before {
  content: "\eab6";
}
.icon-ice-cream:before {
  content: "\eab7";
}
.icon-id-card:before {
  content: "\eab8";
}
.icon-id-card-f:before {
  content: "\eab9";
}
.icon-inbox:before {
  content: "\eaba";
}
.icon-inboxes:before {
  content: "\eabb";
}
.icon-inboxes-f:before {
  content: "\eabc";
}
.icon-inbox-f:before {
  content: "\eabd";
}
.icon-indent:before {
  content: "\eabe";
}
.icon-infinite:before {
  content: "\eabf";
}
.icon-info:before {
  content: "\eac0";
}
.icon-info-f:before {
  content: "\eac1";
}
.icon-instagram:before {
  content: "\eac2";
}
.icon-instant-picture:before {
  content: "\eac3";
}
.icon-instant-picture-f:before {
  content: "\eac4";
}
.icon-intersection:before {
  content: "\eac5";
}
.icon-italic:before {
  content: "\eac6";
}
.icon-header:before {
  content: "\eac7";
}
.icon-header-1:before {
  content: "\eac8";
}
.icon-header-2:before {
  content: "\eac9";
}
.icon-header-3:before {
  content: "\eaca";
}
.icon-header-4:before {
  content: "\eacb";
}
.icon-header-5:before {
  content: "\eacc";
}
.icon-header-6:before {
  content: "\eacd";
}
.icon-headset:before {
  content: "\eace";
}
.icon-headset-f:before {
  content: "\eacf";
}
.icon-heart:before {
  content: "\ead0";
}
.icon-heart-f:before {
  content: "\ead1";
}
.icon-helmet:before {
  content: "\ead2";
}
.icon-helmet-f:before {
  content: "\ead3";
}
.icon-help:before {
  content: "\ead4";
}
.icon-help-f:before {
  content: "\ead5";
}
.icon-highlighter:before {
  content: "\ead6";
}
.icon-highlighter-f:before {
  content: "\ead7";
}
.icon-history:before {
  content: "\ead8";
}
.icon-home:before {
  content: "\ead9";
}
.icon-home-f:before {
  content: "\eada";
}
.icon-hourglass:before {
  content: "\eadb";
}
.icon-hourglass-f:before {
  content: "\eadc";
}
.icon-ice-cream-f:before {
  content: "\eadd";
}
.icon-gitlab:before {
  content: "\eade";
}
.icon-gitlab-square:before {
  content: "\eadf";
}
.icon-glass-empty:before {
  content: "\eae0";
}
.icon-glass-filled:before {
  content: "\eae1";
}
.icon-glass-filled-f:before {
  content: "\eae2";
}
.icon-glue:before {
  content: "\eae3";
}
.icon-glue-f:before {
  content: "\eae4";
}
.icon-google:before {
  content: "\eae5";
}
.icon-google-circle:before {
  content: "\eae6";
}
.icon-google-play:before {
  content: "\eae7";
}
.icon-google-play-circle:before {
  content: "\eae8";
}
.icon-google-play-square:before {
  content: "\eae9";
}
.icon-google-plus:before {
  content: "\eaea";
}
.icon-google-plus-circle:before {
  content: "\eaeb";
}
.icon-google-plus-square:before {
  content: "\eaec";
}
.icon-google-square:before {
  content: "\eaed";
}
.icon-gps:before {
  content: "\eaee";
}
.icon-gps-f:before {
  content: "\eaef";
}
.icon-grid:before {
  content: "\eaf0";
}
.icon-grid-f:before {
  content: "\eaf1";
}
.icon-hairdryer:before {
  content: "\eaf2";
}
.icon-hairdryer-f:before {
  content: "\eaf3";
}
.icon-hammer:before {
  content: "\eaf4";
}
.icon-hammer-f:before {
  content: "\eaf5";
}
.icon-hashtag:before {
  content: "\eaf6";
}
.icon-flickr:before {
  content: "\eaf7";
}
.icon-flower:before {
  content: "\eaf8";
}
.icon-folder:before {
  content: "\eaf9";
}
.icon-folder-f:before {
  content: "\eafa";
}
.icon-folder-open:before {
  content: "\eafb";
}
.icon-folder-open-f:before {
  content: "\eafc";
}
.icon-folder-zip:before {
  content: "\eafd";
}
.icon-folder-zip-f:before {
  content: "\eafe";
}
.icon-football:before {
  content: "\eaff";
}
.icon-fork:before {
  content: "\eb00";
}
.icon-fork-f:before {
  content: "\eb01";
}
.icon-forward:before {
  content: "\eb02";
}
.icon-forward-circle:before {
  content: "\eb03";
}
.icon-forward-circle-f:before {
  content: "\eb04";
}
.icon-forward-square:before {
  content: "\eb05";
}
.icon-forward-square-f:before {
  content: "\eb06";
}
.icon-foursquare:before {
  content: "\eb07";
}
.icon-gamepad:before {
  content: "\eb08";
}
.icon-gamepad-f:before {
  content: "\eb09";
}
.icon-gamepad-retro:before {
  content: "\eb0a";
}
.icon-gamepad-retro-f:before {
  content: "\eb0b";
}
.icon-gamma:before {
  content: "\eb0c";
}
.icon-ghost:before {
  content: "\eb0d";
}
.icon-ghost-f:before {
  content: "\eb0e";
}
.icon-ghost-org:before {
  content: "\eb0f";
}
.icon-ghost-org-circle:before {
  content: "\eb10";
}
.icon-ghost-org-square:before {
  content: "\eb11";
}
.icon-gift:before {
  content: "\eb12";
}
.icon-gift-f:before {
  content: "\eb13";
}
.icon-github:before {
  content: "\eb14";
}
.icon-github-circle:before {
  content: "\eb15";
}
.icon-github-square:before {
  content: "\eb16";
}
.icon-gitlab-circle:before {
  content: "\eb17";
}
.icon-envelope:before {
  content: "\eb18";
}
.icon-envelope-open:before {
  content: "\eb19";
}
.icon-extinguisher:before {
  content: "\eb1a";
}
.icon-extinguisher-f:before {
  content: "\eb1b";
}
.icon-eye:before {
  content: "\eb1c";
}
.icon-eye-close:before {
  content: "\eb1d";
}
.icon-eye-close-f:before {
  content: "\eb1e";
}
.icon-eyedropper:before {
  content: "\eb1f";
}
.icon-eyedropper-f:before {
  content: "\eb20";
}
.icon-eye-f:before {
  content: "\eb21";
}
.icon-facebook:before {
  content: "\eb22";
}
.icon-facebook-circle:before {
  content: "\eb23";
}
.icon-facebook-square:before {
  content: "\eb24";
}
.icon-fast-backward:before {
  content: "\eb25";
}
.icon-fast-backward-circle:before {
  content: "\eb26";
}
.icon-fast-backward-circle-f:before {
  content: "\eb27";
}
.icon-fast-backward-square:before {
  content: "\eb28";
}
.icon-fast-backward-square-f:before {
  content: "\eb29";
}
.icon-fast-forward:before {
  content: "\eb2a";
}
.icon-fast-forward-circle:before {
  content: "\eb2b";
}
.icon-fast-forward-circle-f:before {
  content: "\eb2c";
}
.icon-fast-forward-square:before {
  content: "\eb2d";
}
.icon-fast-forward-square-f:before {
  content: "\eb2e";
}
.icon-feather:before {
  content: "\eb2f";
}
.icon-feather-f:before {
  content: "\eb30";
}
.icon-female:before {
  content: "\eb31";
}
.icon-file:before {
  content: "\eb32";
}
.icon-file-f:before {
  content: "\eb33";
}
.icon-files:before {
  content: "\eb34";
}
.icon-files-f:before {
  content: "\eb35";
}
.icon-filter:before {
  content: "\eb36";
}
.icon-filter-f:before {
  content: "\eb37";
}
.icon-fingerprint:before {
  content: "\eb38";
}
.icon-first-aid:before {
  content: "\eb39";
}
.icon-first-aid-f:before {
  content: "\eb3a";
}
.icon-fish:before {
  content: "\eb3b";
}
.icon-fiverr:before {
  content: "\eb3c";
}
.icon-fiverr-circle:before {
  content: "\eb3d";
}
.icon-fiverr-square:before {
  content: "\eb3e";
}
.icon-flag:before {
  content: "\eb3f";
}
.icon-flag-f:before {
  content: "\eb40";
}
.icon-flame:before {
  content: "\eb41";
}
.icon-flame-f:before {
  content: "\eb42";
}
.icon-flashlight-off:before {
  content: "\eb43";
}
.icon-flashlight-off-f:before {
  content: "\eb44";
}
.icon-flashlight-on:before {
  content: "\eb45";
}
.icon-flashlight-on-f:before {
  content: "\eb46";
}
.icon-flask:before {
  content: "\eb47";
}
.icon-flickr-circle:before {
  content: "\eb48";
}
.icon-flickr-square:before {
  content: "\eb49";
}
.icon-dashboard:before {
  content: "\eb4a";
}
.icon-database:before {
  content: "\eb4b";
}
.icon-database-f:before {
  content: "\eb4c";
}
.icon-deezer:before {
  content: "\eb4d";
}
.icon-deezer-circle:before {
  content: "\eb4e";
}
.icon-deezer-square:before {
  content: "\eb4f";
}
.icon-delete:before {
  content: "\eb50";
}
.icon-delete-f:before {
  content: "\eb51";
}
.icon-deviantart:before {
  content: "\eb52";
}
.icon-deviantart-circle:before {
  content: "\eb53";
}
.icon-deviantart-square:before {
  content: "\eb54";
}
.icon-dice:before {
  content: "\eb55";
}
.icon-dice-f:before {
  content: "\eb56";
}
.icon-dices:before {
  content: "\eb57";
}
.icon-dices-f:before {
  content: "\eb58";
}
.icon-differenciation:before {
  content: "\eb59";
}
.icon-digg:before {
  content: "\eb5a";
}
.icon-direction:before {
  content: "\eb5b";
}
.icon-direction-f:before {
  content: "\eb5c";
}
.icon-directions:before {
  content: "\eb5d";
}
.icon-directions-f:before {
  content: "\eb5e";
}
.icon-disc:before {
  content: "\eb5f";
}
.icon-disc-f:before {
  content: "\eb60";
}
.icon-discord:before {
  content: "\eb61";
}
.icon-disqus:before {
  content: "\eb62";
}
.icon-disqus-circle:before {
  content: "\eb63";
}
.icon-disqus-square:before {
  content: "\eb64";
}
.icon-dj:before {
  content: "\eb65";
}
.icon-dj-f:before {
  content: "\eb66";
}
.icon-dna:before {
  content: "\eb67";
}
.icon-document:before {
  content: "\eb68";
}
.icon-document-f:before {
  content: "\eb69";
}
.icon-door:before {
  content: "\eb6a";
}
.icon-download:before {
  content: "\eb6b";
}
.icon-dribbble:before {
  content: "\eb6c";
}
.icon-drupal:before {
  content: "\eb6d";
}
.icon-drupal-circle:before {
  content: "\eb6e";
}
.icon-drupal-square:before {
  content: "\eb6f";
}
.icon-ebay:before {
  content: "\eb70";
}
.icon-egg:before {
  content: "\eb71";
}
.icon-egg-f:before {
  content: "\eb72";
}
.icon-eggs:before {
  content: "\eb73";
}
.icon-eggs-f:before {
  content: "\eb74";
}
.icon-eject:before {
  content: "\eb75";
}
.icon-eject-circle:before {
  content: "\eb76";
}
.icon-eject-circle-f:before {
  content: "\eb77";
}
.icon-eject-square:before {
  content: "\eb78";
}
.icon-eject-square-f:before {
  content: "\eb79";
}
.icon-envelope-f:before {
  content: "\eb7a";
}
.icon-envelope-open-f:before {
  content: "\eb7b";
}
.icon-chronometer:before {
  content: "\eb7c";
}
.icon-chronometer-f:before {
  content: "\eb7d";
}
.icon-circle:before {
  content: "\eb7e";
}
.icon-circle-f:before {
  content: "\eb7f";
}
.icon-clear-format:before {
  content: "\eb80";
}
.icon-clipboard:before {
  content: "\eb81";
}
.icon-clipboard-f:before {
  content: "\eb82";
}
.icon-clock:before {
  content: "\eb83";
}
.icon-clock-f:before {
  content: "\eb84";
}
.icon-close:before {
  content: "\eb85";
}
.icon-close-circle:before {
  content: "\eb86";
}
.icon-close-circle-f:before {
  content: "\eb87";
}
.icon-close-rectangle:before {
  content: "\eb88";
}
.icon-close-rectangle-f:before {
  content: "\eb89";
}
.icon-cloud:before {
  content: "\eb8a";
}
.icon-cloud-f:before {
  content: "\eb8b";
}
.icon-cloud-rain:before {
  content: "\eb8c";
}
.icon-cloud-rain-f:before {
  content: "\eb8d";
}
.icon-cloud-snow:before {
  content: "\eb8e";
}
.icon-cloud-snow-f:before {
  content: "\eb8f";
}
.icon-cloud-thunder:before {
  content: "\eb90";
}
.icon-cloud-thunder-f:before {
  content: "\eb91";
}
.icon-code:before {
  content: "\eb92";
}
.icon-codepen:before {
  content: "\eb93";
}
.icon-codepen-circle:before {
  content: "\eb94";
}
.icon-codepen-square:before {
  content: "\eb95";
}
.icon-code-sample:before {
  content: "\eb96";
}
.icon-coffee:before {
  content: "\eb97";
}
.icon-coffee-cup:before {
  content: "\eb98";
}
.icon-coffee-cup-f:before {
  content: "\eb99";
}
.icon-cog:before {
  content: "\eb9a";
}
.icon-cog-f:before {
  content: "\eb9b";
}
.icon-cogs:before {
  content: "\eb9c";
}
.icon-cogs-f:before {
  content: "\eb9d";
}
.icon-coin:before {
  content: "\eb9e";
}
.icon-coin-f:before {
  content: "\eb9f";
}
.icon-color:before {
  content: "\eba0";
}
.icon-compass:before {
  content: "\eba1";
}
.icon-compass-f:before {
  content: "\eba2";
}
.icon-computer:before {
  content: "\eba3";
}
.icon-computer-alt:before {
  content: "\eba4";
}
.icon-computer-alt-f:before {
  content: "\eba5";
}
.icon-computer-f:before {
  content: "\eba6";
}
.icon-credit-card:before {
  content: "\eba7";
}
.icon-credit-card-f:before {
  content: "\eba8";
}
.icon-crop:before {
  content: "\eba9";
}
.icon-crown:before {
  content: "\ebaa";
}
.icon-crown-f:before {
  content: "\ebab";
}
.icon-cutlery:before {
  content: "\ebac";
}
.icon-cutlery-f:before {
  content: "\ebad";
}
.icon-cutter:before {
  content: "\ebae";
}
.icon-cutter-f:before {
  content: "\ebaf";
}
.icon-dashboard-f:before {
  content: "\ebb0";
}
.icon-chevrons-circle-down:before {
  content: "\ebb1";
}
.icon-chevrons-circle-down-f:before {
  content: "\ebb2";
}
.icon-chevrons-circle-down-left:before {
  content: "\ebb3";
}
.icon-chevrons-circle-down-left-f:before {
  content: "\ebb4";
}
.icon-chevrons-circle-down-right:before {
  content: "\ebb5";
}
.icon-chevrons-circle-down-right-f:before {
  content: "\ebb6";
}
.icon-chevrons-circle-left:before {
  content: "\ebb7";
}
.icon-chevrons-circle-left-f:before {
  content: "\ebb8";
}
.icon-chevrons-circle-right:before {
  content: "\ebb9";
}
.icon-chevrons-circle-right-f:before {
  content: "\ebba";
}
.icon-chevrons-circle-up:before {
  content: "\ebbb";
}
.icon-chevrons-circle-up-f:before {
  content: "\ebbc";
}
.icon-chevrons-circle-up-left:before {
  content: "\ebbd";
}
.icon-chevrons-circle-up-left-f:before {
  content: "\ebbe";
}
.icon-chevrons-circle-up-right:before {
  content: "\ebbf";
}
.icon-chevrons-circle-up-right-f:before {
  content: "\ebc0";
}
.icon-chevrons-down:before {
  content: "\ebc1";
}
.icon-chevrons-down-left:before {
  content: "\ebc2";
}
.icon-chevrons-down-right:before {
  content: "\ebc3";
}
.icon-chevrons-left:before {
  content: "\ebc4";
}
.icon-chevron-square-up:before {
  content: "\ebc5";
}
.icon-chevron-square-up-left:before {
  content: "\ebc6";
}
.icon-chevron-square-up-left-f:before {
  content: "\ebc7";
}
.icon-chevron-square-up-right:before {
  content: "\ebc8";
}
.icon-chevron-square-up-right-f:before {
  content: "\ebc9";
}
.icon-chevrons-right:before {
  content: "\ebca";
}
.icon-chevrons-square-down:before {
  content: "\ebcb";
}
.icon-chevrons-square-down-f:before {
  content: "\ebcc";
}
.icon-chevrons-square-down-left:before {
  content: "\ebcd";
}
.icon-chevrons-square-down-left-f:before {
  content: "\ebce";
}
.icon-chevrons-square-down-right:before {
  content: "\ebcf";
}
.icon-chevrons-square-down-right-f:before {
  content: "\ebd0";
}
.icon-chevrons-square-left:before {
  content: "\ebd1";
}
.icon-chevrons-square-left-f:before {
  content: "\ebd2";
}
.icon-chevrons-square-right:before {
  content: "\ebd3";
}
.icon-chevrons-square-right-f:before {
  content: "\ebd4";
}
.icon-chevrons-square-up:before {
  content: "\ebd5";
}
.icon-chevrons-square-up-f:before {
  content: "\ebd6";
}
.icon-chevrons-square-up-left:before {
  content: "\ebd7";
}
.icon-chevrons-square-up-left-f:before {
  content: "\ebd8";
}
.icon-chevrons-square-up-right:before {
  content: "\ebd9";
}
.icon-chevrons-square-up-right-f:before {
  content: "\ebda";
}
.icon-chevrons-up:before {
  content: "\ebdb";
}
.icon-chevrons-up-left:before {
  content: "\ebdc";
}
.icon-chevrons-up-right:before {
  content: "\ebdd";
}
.icon-chevron-up:before {
  content: "\ebde";
}
.icon-chevron-up-left:before {
  content: "\ebdf";
}
.icon-chevron-up-right:before {
  content: "\ebe0";
}
.icon-candle:before {
  content: "\ebe1";
}
.icon-candle-f:before {
  content: "\ebe2";
}
.icon-capsule:before {
  content: "\ebe3";
}
.icon-capsule-f:before {
  content: "\ebe4";
}
.icon-car:before {
  content: "\ebe5";
}
.icon-car-f:before {
  content: "\ebe6";
}
.icon-castle:before {
  content: "\ebe7";
}
.icon-castle-f:before {
  content: "\ebe8";
}
.icon-character:before {
  content: "\ebe9";
}
.icon-check:before {
  content: "\ebea";
}
.icon-chevron-circle-down:before {
  content: "\ebeb";
}
.icon-chevron-circle-down-f:before {
  content: "\ebec";
}
.icon-chevron-circle-down-left:before {
  content: "\ebed";
}
.icon-chevron-circle-down-left-f:before {
  content: "\ebee";
}
.icon-chevron-circle-down-right:before {
  content: "\ebef";
}
.icon-chevron-circle-down-right-f:before {
  content: "\ebf0";
}
.icon-chevron-circle-left:before {
  content: "\ebf1";
}
.icon-chevron-circle-left-f:before {
  content: "\ebf2";
}
.icon-chevron-circle-right:before {
  content: "\ebf3";
}
.icon-chevron-circle-right-f:before {
  content: "\ebf4";
}
.icon-chevron-circle-up:before {
  content: "\ebf5";
}
.icon-chevron-circle-up-f:before {
  content: "\ebf6";
}
.icon-chevron-circle-up-left:before {
  content: "\ebf7";
}
.icon-chevron-circle-up-left-f:before {
  content: "\ebf8";
}
.icon-chevron-circle-up-right:before {
  content: "\ebf9";
}
.icon-chevron-circle-up-right-f:before {
  content: "\ebfa";
}
.icon-chevron-down:before {
  content: "\ebfb";
}
.icon-chevron-down-left:before {
  content: "\ebfc";
}
.icon-chevron-down-right:before {
  content: "\ebfd";
}
.icon-chevron-left:before {
  content: "\ebfe";
}
.icon-chevron-right:before {
  content: "\ebff";
}
.icon-chevron-square-down:before {
  content: "\ec00";
}
.icon-chevron-square-down-f:before {
  content: "\ec01";
}
.icon-chevron-square-down-left:before {
  content: "\ec02";
}
.icon-chevron-square-down-left-f:before {
  content: "\ec03";
}
.icon-chevron-square-down-right:before {
  content: "\ec04";
}
.icon-chevron-square-down-right-f:before {
  content: "\ec05";
}
.icon-chevron-square-left:before {
  content: "\ec06";
}
.icon-chevron-square-left-f:before {
  content: "\ec07";
}
.icon-chevron-square-right:before {
  content: "\ec08";
}
.icon-chevron-square-right-f:before {
  content: "\ec09";
}
.icon-chevron-square-up-f:before {
  content: "\ec0a";
}
.icon-birthday-cake:before {
  content: "\ec0b";
}
.icon-birthday-cake-f:before {
  content: "\ec0c";
}
.icon-blogger:before {
  content: "\ec0d";
}
.icon-blogger-circle:before {
  content: "\ec0e";
}
.icon-blogger-square:before {
  content: "\ec0f";
}
.icon-bluetooth:before {
  content: "\ec10";
}
.icon-bold:before {
  content: "\ec11";
}
.icon-book:before {
  content: "\ec12";
}
.icon-book-f:before {
  content: "\ec13";
}
.icon-bookmark:before {
  content: "\ec14";
}
.icon-bookmark-f:before {
  content: "\ec15";
}
.icon-bookmark-minus:before {
  content: "\ec16";
}
.icon-bookmark-minus-f:before {
  content: "\ec17";
}
.icon-bookmark-plus:before {
  content: "\ec18";
}
.icon-bookmark-plus-f:before {
  content: "\ec19";
}
.icon-bookmark-remove:before {
  content: "\ec1a";
}
.icon-bookmark-remove-f:before {
  content: "\ec1b";
}
.icon-bottle:before {
  content: "\ec1c";
}
.icon-bottle-f:before {
  content: "\ec1d";
}
.icon-box:before {
  content: "\ec1e";
}
.icon-box-f:before {
  content: "\ec1f";
}
.icon-branch:before {
  content: "\ec20";
}
.icon-branch-f:before {
  content: "\ec21";
}
.icon-brightness:before {
  content: "\ec22";
}
.icon-brightness-down:before {
  content: "\ec23";
}
.icon-brightness-down-f:before {
  content: "\ec24";
}
.icon-brightness-up:before {
  content: "\ec25";
}
.icon-brightness-up-f:before {
  content: "\ec26";
}
.icon-browse:before {
  content: "\ec27";
}
.icon-brush:before {
  content: "\ec28";
}
.icon-brush-f:before {
  content: "\ec29";
}
.icon-bug:before {
  content: "\ec2a";
}
.icon-bug-f:before {
  content: "\ec2b";
}
.icon-building:before {
  content: "\ec2c";
}
.icon-building-f:before {
  content: "\ec2d";
}
.icon-bus:before {
  content: "\ec2e";
}
.icon-bus-f:before {
  content: "\ec2f";
}
.icon-cactus:before {
  content: "\ec30";
}
.icon-cactus-f:before {
  content: "\ec31";
}
.icon-calculator:before {
  content: "\ec32";
}
.icon-calendar:before {
  content: "\ec33";
}
.icon-calendar-alt:before {
  content: "\ec34";
}
.icon-calendar-alt-f:before {
  content: "\ec35";
}
.icon-calendar-f:before {
  content: "\ec36";
}
.icon-camera:before {
  content: "\ec37";
}
.icon-camera-alt:before {
  content: "\ec38";
}
.icon-camera-alt-f:before {
  content: "\ec39";
}
.icon-camera-f:before {
  content: "\ec3a";
}
.icon-backward:before {
  content: "\ec3b";
}
.icon-baidu:before {
  content: "\ec3c";
}
.icon-baidu-circle:before {
  content: "\ec3d";
}
.icon-baidu-square:before {
  content: "\ec3e";
}
.icon-bandage:before {
  content: "\ec3f";
}
.icon-bandage-f:before {
  content: "\ec40";
}
.icon-bar-chart:before {
  content: "\ec41";
}
.icon-baseball:before {
  content: "\ec42";
}
.icon-basketball:before {
  content: "\ec43";
}
.icon-bathtub:before {
  content: "\ec44";
}
.icon-bathtub-f:before {
  content: "\ec45";
}
.icon-battery:before {
  content: "\ec46";
}
.icon-battery-charging:before {
  content: "\ec47";
}
.icon-battery-charging-f:before {
  content: "\ec48";
}
.icon-battery-f:before {
  content: "\ec49";
}
.icon-battery-half:before {
  content: "\ec4a";
}
.icon-battery-half-f:before {
  content: "\ec4b";
}
.icon-battery-one-quarter:before {
  content: "\ec4c";
}
.icon-battery-one-quarter-f:before {
  content: "\ec4d";
}
.icon-battery-three-quarters:before {
  content: "\ec4e";
}
.icon-battery-three-quarters-f:before {
  content: "\ec4f";
}
.icon-beatport:before {
  content: "\ec50";
}
.icon-beatport-circle:before {
  content: "\ec51";
}
.icon-beatport-square:before {
  content: "\ec52";
}
.icon-beer:before {
  content: "\ec53";
}
.icon-beer-f:before {
  content: "\ec54";
}
.icon-behance:before {
  content: "\ec55";
}
.icon-behance-circle:before {
  content: "\ec56";
}
.icon-behance-square:before {
  content: "\ec57";
}
.icon-bell:before {
  content: "\ec58";
}
.icon-bell-f:before {
  content: "\ec59";
}
.icon-bell-off:before {
  content: "\ec5a";
}
.icon-bell-off-f:before {
  content: "\ec5b";
}
.icon-bing:before {
  content: "\ec5c";
}
.icon-bing-circle:before {
  content: "\ec5d";
}
.icon-bing-square:before {
  content: "\ec5e";
}
.icon-archive:before {
  content: "\ec5f";
}
.icon-archive-f:before {
  content: "\ec60";
}
.icon-arrow-circle-down:before {
  content: "\ec61";
}
.icon-arrow-circle-down-f:before {
  content: "\ec62";
}
.icon-arrow-circle-down-left:before {
  content: "\ec63";
}
.icon-arrow-circle-down-left-f:before {
  content: "\ec64";
}
.icon-arrow-circle-down-right:before {
  content: "\ec65";
}
.icon-arrow-circle-down-right-f:before {
  content: "\ec66";
}
.icon-arrow-circle-left:before {
  content: "\ec67";
}
.icon-arrow-circle-left-f:before {
  content: "\ec68";
}
.icon-arrow-circle-right:before {
  content: "\ec69";
}
.icon-arrow-circle-right-f:before {
  content: "\ec6a";
}
.icon-arrow-circle-up:before {
  content: "\ec6b";
}
.icon-arrow-circle-up-f:before {
  content: "\ec6c";
}
.icon-arrow-circle-up-left:before {
  content: "\ec6d";
}
.icon-arrow-circle-up-left-f:before {
  content: "\ec6e";
}
.icon-arrow-circle-up-right:before {
  content: "\ec6f";
}
.icon-arrow-circle-up-right-f:before {
  content: "\ec70";
}
.icon-arrow-down:before {
  content: "\ec71";
}
.icon-arrow-down-left:before {
  content: "\ec72";
}
.icon-arrow-down-right:before {
  content: "\ec73";
}
.icon-arrow-left:before {
  content: "\ec74";
}
.icon-arrow-right:before {
  content: "\ec75";
}
.icon-arrows-corners:before {
  content: "\ec76";
}
.icon-arrows-fullscreen:before {
  content: "\ec77";
}
.icon-arrows-h:before {
  content: "\ec78";
}
.icon-arrow-square-down:before {
  content: "\ec79";
}
.icon-arrow-square-down-f:before {
  content: "\ec7a";
}
.icon-arrow-square-down-left:before {
  content: "\ec7b";
}
.icon-arrow-square-down-left-f:before {
  content: "\ec7c";
}
.icon-arrow-square-down-right:before {
  content: "\ec7d";
}
.icon-arrow-square-down-right-f:before {
  content: "\ec7e";
}
.icon-arrow-square-left:before {
  content: "\ec7f";
}
.icon-arrow-square-left-f:before {
  content: "\ec80";
}
.icon-arrow-square-right:before {
  content: "\ec81";
}
.icon-arrow-square-right-f:before {
  content: "\ec82";
}
.icon-arrow-square-up:before {
  content: "\ec83";
}
.icon-arrow-square-up-f:before {
  content: "\ec84";
}
.icon-arrow-square-up-left:before {
  content: "\ec85";
}
.icon-arrow-square-up-left-f:before {
  content: "\ec86";
}
.icon-arrow-square-up-right:before {
  content: "\ec87";
}
.icon-arrow-square-up-right-f:before {
  content: "\ec88";
}
.icon-arrows-v:before {
  content: "\ec89";
}
.icon-arrow-up:before {
  content: "\ec8a";
}
.icon-arrow-up-left:before {
  content: "\ec8b";
}
.icon-arrow-up-right:before {
  content: "\ec8c";
}
.icon-attachment:before {
  content: "\ec8d";
}
.icon-background-color:before {
  content: "\ec8e";
}
.icon-backpack:before {
  content: "\ec8f";
}
.icon-backpack-f:before {
  content: "\ec90";
}
.icon-backward-circle:before {
  content: "\ec91";
}
.icon-backward-circle-f:before {
  content: "\ec92";
}
.icon-backward-square:before {
  content: "\ec93";
}
.icon-backward-square-f:before {
  content: "\ec94";
}
.icon-px:before {
  content: "\ec95";
}
.icon-accessibility:before {
  content: "\ec96";
}
.icon-activity:before {
  content: "\ec97";
}
.icon-airbnb:before {
  content: "\ec98";
}
.icon-alarm-clock:before {
  content: "\ec99";
}
.icon-alarm-clock-f:before {
  content: "\ec9a";
}
.icon-alert:before {
  content: "\ec9b";
}
.icon-alert-f:before {
  content: "\ec9c";
}
.icon-alien:before {
  content: "\ec9d";
}
.icon-alien-f:before {
  content: "\ec9e";
}
.icon-align-center:before {
  content: "\ec9f";
}
.icon-align-justify:before {
  content: "\eca0";
}
.icon-align-left:before {
  content: "\eca1";
}
.icon-align-right:before {
  content: "\eca2";
}
.icon-amazon:before {
  content: "\eca3";
}
.icon-anchor:before {
  content: "\eca4";
}
.icon-android:before {
  content: "\eca5";
}
.icon-android-circle:before {
  content: "\eca6";
}
.icon-android-square:before {
  content: "\eca7";
}
.icon-aperture:before {
  content: "\eca8";
}
.icon-apple:before {
  content: "\eca9";
}
.icon-apple-circle:before {
  content: "\ecaa";
}
.icon-apple-square:before {
  content: "\ecab";
}
